html   {
    font-size:15px;
    font-family:Verdana, Arial, sans-serif;
}

body {
    margin-left:15rem;
    margin-right:15rem;
    background-color: antiquewhite;
}

.recipe_photo {
    float: right;
    border: solid black;
    border-width: 0.5rem;
}

.banner {
    border:solid black;
    border-width:0.2rem;
}

footer{
    text-align: center;
    font-size: 0.6rem;
}
